:root {
    --white-color: hsl(0, 0%, 100%);
    --stone100-color: hsl(30, 54%, 90%);
    --stone150-color: hsl(30, 18%, 87%);
    --stone600-color: hsl(30, 10%, 34%);
    --stone900-color: hsl(24, 5%, 18%);
    --brown800-color:  hsl(14, 45%, 36%);
    --rose800-color: hsl(332, 51%, 32%);
    --rose50-color: hsl(330, 100%, 98%);

    --font-size: 16px;
    --hr-height: 2px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--stone100-color);
    color: var(--stone600-color);
    font-family: "Outfit", serif;
    font-style: normal;
    font-weight: 300;
}

.container {
    width: 50%;
    margin: 5rem auto;
    background-color: var(--white-color);
    padding: 2.5rem;
    border-radius: 1.25rem;
}

.container--image {
    display: inline-block;
    width: 100%;
    border-radius: 1.25rem;
}

.container--header {
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
    padding: 1rem 0;
    color: var(--stone900-color);
}

.container--text {
    padding-bottom: 1rem;
}

.container--section {
    background-color: var(--rose50-color);
    padding: 2rem;
    margin-bottom: 1rem;
}

.container--header3 {
    color: var(--rose800-color);
}

.container--section ul {
    padding-left: 1rem;
    padding-top: 0.5rem;
}

.container--section ul li {
    padding: 0.5rem;
}

.container--section ul li span {
    font-weight: bold;
} 

.container--header2 {
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
    color: var(--brown800-color);
}

.container--ingredients {
    padding: 1rem;
}

.container--ingredients li {
    padding: 0.5rem;
}

hr {
    margin-top: 0.25rem;
    margin-bottom: 1.25rem;
    border: none;
    height:  var(--hr-height);
    background-color: var(--stone150-color);
}

.container--instructions {
    padding: 1rem;
}

.container--instructions li {
    padding: 0.5rem;
}

.container--instructions li span {
    font-weight: bold;
} 

.container--table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

tr {
    border-bottom: var(--hr-height) solid var(--stone150-color);
}

tr:last-child {
    border: none;
}

td {
    padding: 1rem;
}

.container--table-title {
    font-weight: 400;
}

.container--table-calories {
    font-weight: bold;
    color: var(--brown800-color);
}